{% extends 'base.html.twig' %}

{% block body %}

    <div class="container with-menu">
        <div class="row pt-5">
            <div class="col-md-4 text-center pb-5">
                <img src="svg/Onas/Crassus-onas.svg" alt="logo">
            </div>
            <div class="col-md-8">
                <h1 class="display-4 text-danger text-uppercase">o nás</h1>
                <p>Jsme česká společnost založená 15. září 2009. Pracujeme pro fyzické osoby i pro malé a
                    střední podnikatele.
                    <br><br>
                    Od svého vzniku se specializujeme na poradenství v oblastech hypoték, pojištění a
                    investic.
                    <br><br>
                    Spolupracovníci naší společnosti vyhledávají na základě individuálních potřeb klienta nejvýhodnější
                    finanční produkty na českém trhu. Znalost maximálně objektivních informací o jednotlivých
                    společnostech a jejich produktech je u našich spolupracovníků samozřejmostí.</p>
                <div>Základní informace</div>
                <ul>
                    <li>Jednatel: Bc. Dušan Zykl, MBA</li>
                    <li>IČ: 28776950</li>
                    <li> Společnost je zapsána v obchodním rejstříku, vedeném Krajským soudem v Hradci Králové, oddíl C,
                        vložka 26732
                    </li>
                    <li>Základní kapitál 200.000,- Kč</li>
                    <li>Sídlo společnosti: Veselí 124, 535 01, Přelouč</li>
                    <li>Registrace u České národní banky</li>
                </ul>
                <br>
                <a class="anchor text-dark" href="/files/Základní informace o zpracování osobních údajů.pdf">Zpracování osobních údajů</a>, <a class="anchor text-dark" href="/files/Hlášení porušení nebo hrozícího porušení předpisů.pdf">Hlášení porušení nebo hrozícího porušení předpisů</a>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <nav class="nav nav-with-slider flex-column flex-md-row">
            <a href="#vedeni" class="btn btn-rounded btn-lg nav-link text-white bg-danger py-3 main-btn m-3 text-uppercase"
               data-toggle="tab">Vedení
            </a>
            <a href="#crassus" class="btn btn-rounded btn-lg nav-link text-white bg-danger py-3 main-btn m-3 text-uppercase"
               data-toggle="tab">Crassus
            </a>
            <a href="#reference"
               class="btn btn-rounded btn-lg nav-link text-white bg-danger py-3 main-btn m-3 text-uppercase"
               data-toggle="tab">Reference
            </a>
            <a href="/files/Základní informace o zpracování osobních údajů.pdf"
               class="btn btn-rounded btn-lg nav-link text-white bg-danger py-3 main-btn m-3 text-uppercase"
               target="_blank">
                memorandum
            </a>
        </nav>
    </div>
    <div class="container py-5">
        <div class="tab-content">
            <div id="vedeni" class="tab-pane">
                {% for boss in bosses %}
                    <div class="py-3">
                        <div class="row">
                            <div class="col-4">
                                <img class="mw-100" src="/images/bosses/{{ boss.img }}" alt="{{ boss.img }}">
                            </div>
                            <div class="col-8">
                                <h3 class="text-danger">{{ boss.name }}</h3>
                                <h4>{{ boss.role }}</h4>
                                <div>
                                    {{ boss.text|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="crassus" class="tab-pane">
                <div class="d-flex flex-column flex-md-row justify-content-center my-3">
                    <img class="m-auto m-md-0" width="172" src="/images/marcus_licinius_crassus.png" alt="crassus">
                    <img class="mx-5 my-4" src="/svg/Pojisteni/Sipky.svg" alt="arrow">
                    <img class="m-auto m-md-0" src="/svg/Onas/Crassus-onas.svg" alt="crassus">
                </div>
                <div class="offset-md-1 col-md-10">
                    <h2 class="text-danger">Proč CRASSUS?</h2>
                    <p>(112 př. n. l. - 53 př. n. l.)</p>
                    <p>Řekneme-li si, že podnikat začal až v 30 a zemřel v 60, dařilo se mu v přepočtu na složené
                        úročení zhodnocovat majetek průměrným tempem 11,12 % ročně v době, kdy římské úrokové sazby
                        klesly z 12 % na 4 %. Srovnáváme- li tuto výnosnost s výkony moderních investorů, je třeba vzít
                        v úvahu, že za Crassových dob neexistovala inflace (jeho výkony jsou tedy reálné) a také fakt,
                        že vysoké úroky a složené úročení (tj. úroky z úroků) byly v jeho časech považovány za
                        vydřidušské a nemravné. Na senátora Marka Junia Bruta se římská společnost dívala skrz prsty
                        kvůli úvěrům asijským městům a provinciím. Naopak po uši zadlužený Gaius Julius Caesar získal
                        popularitu tím, když jako diktátor jedním ze svých prvních dekretů omezil výši úroků a složené
                        úročení zakázal.</p>
                    <p>Třicátník Crassus shromažďuje majetek způsobem, který nemá v historii obdoby. Po smrti bude jeho
                        majetek přes ohromné výdaje činit 7 100 talentů, což je zhruba 42,6 miliónů denárů anebo 170,4
                        miliónů sesterciů. Tato částka o 1 100 talentů převyšuje oficiální roční příjem státního
                        rozpočtu nejbohatšího státu oné doby - ptolemaiovského Egypta. Také odpovídá 213 minimálním
                        majetkům senátorů (senát měl v té době 600 poslanců), popřípadě roční mzdě 170 000 řemeslníků
                        anebo 190 000 vojáků. Uvědomíte-li si, jak velký rozdíl byl v životní úrovni tehdy a dnes (v
                        Římě neexistovalo zboží, které byste si mohli za takové peníze koupit), bylo Crassovo bohatství
                        nezměrné.</p>
                </div>
            </div>
            <div id="reference" class="tab-pane">
                <div class="row">
                    {% for reference in references %}
                        <div class="col-3 my-2" style="text-align: center">
                            <a href="{{ reference.link }}" target="_blank">
                                <img class="card-partner-height {% for class in reference.imgClasses %}{{ class }} {% endfor %}" src="/svg/Reference/{{ reference.img }}"
                                     alt="logo">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
