{% extends 'adviser/index.html.twig' %}

{% block title %}
    Detail novinky
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
           <div class="white-box">
               <h3>{{ novinka.title }}</h3>
               <p>
                   {{ novinka.text|raw }}
               </p>
               {% if novinka.ireadit(user) %}
                   <a href="{{ path('news_unread', {id: novinka.id}) }}"
                      class="btn btn-danger btn-rounded waves-effect waves-light m-t-20">Označit jako nepřečtenou</a>
               {% else %}
               <a href="{{ path('news_read', {id: novinka.id}) }}"
                  class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Označit jako přečtenou</a>
               {% endif %}
           </div>
        </div>
    </div>
{% endblock %}
