<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CrassusArt|Poradci</title>
    <!-- Bootstrap Core CSS -->
    <link href="/dist/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/dist/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="/dist/colorpicker/colorpicker.css" rel="stylesheet">
    <link href="/dist/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="/dist/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/dist/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/dist/metisMenu/dist/metisMenu.min.js"></script>
    <!--Nice scroll JavaScript -->
    <script src="/dist/jquery.nicescroll.js"></script>

    <!--Wave Effects -->
    <script src="/dist/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/dist/myadmin.js"></script>

</head>
<body>

<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
        <div class="navbar-header">
            <img src="https://files.webfix.cz/img/logo/wwwebfix-restaart-logo_1.svg" style="width: 50%; height: auto; margin-top: 3%; margin-left: 25%"
                 class="hidden-lg hidden-md hidden-sm text-center">
            <a class="navbar-toggle hidden-sm hidden-md hidden-lg " style="float: right; color: white"
               href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i
                        class="glyphicon glyphicon-list fa-fw"></i></a>

            <div class="top-left-part hidden-xs"><a class="logo" href="{{ path('adviser') }}"><img width="50%"
                                                                                                   src="https://files.matfix.cz/img/logo/wwwebfix-restaart-logo_1.svg"></a>
            </div>
            <ul class="nav navbar-top-links navbar-left hidden-xs">
                <li><a href="javascript:void(0)" class="open-close hidden-xs hidden-lg
                               waves-effect waves-light"><i class="glyphicon glyphicon-list fa-fw"></i>
                    </a></li>
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <div class="navbar-default sidebar nicescroll" role="navigation">
        <div class="sidebar-nav navbar-collapse ">
            <ul class="nav metismenu" id="side-menu">
                <li>
                    <a href="{{ path('news') }}" class="waves-effect"><i
                                class="glyphicon glyphicon-book fa-fw"></i>
                        Novinky</a>
                </li>

                <li>
                    <a href="{{ path('calculators') }}" class="waves-effect"><i
                                class="glyphicon glyphicon-phone fa-fw"></i>
                        Kalkulačky</a>
                </li>
                <li>
                    <a href="https://eav10.vas-server.cz/roundcubemail/" class="waves-effect"><i
                                class="glyphicon glyphicon-envelope fa-fw"></i>
                        Vstup do mailu</a>
                </li>

                <li>
                    <a href="{{ path('fos_user_security_logout') }}" class="waves-effect"><i
                                class="glyphicon glyphicon-off fa-fw"></i>
                        Odhlásit</a>
                </li>

            </ul>

        </div>
        <!-- /.sidebar-collapse -->
    </div>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-12">
                    <h4 class="page-title">{% block title %}Home{% endblock %}</h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-sm-12">

                    {% block body %}
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Nepřečtené novinky</h3>
                                {% if news|length == 0 %}
                                <div class="white-box">
                                    <h4>Nemáte žádné nepřečtené novinky</h4>
                                </div>
                                {% endif %}

                                {% for novinka in news %}
                                    <div class="col-md-3 col-xs-12 col-sm-6">
                                        <div class="white-box">
                                            <h3 class="m-t-20 m-b-20 nadpisPoradce">{{ novinka.title }}</h3>
                                            <p>{{ novinka.text }}</p>
                                            <a href="{{ path('news_detail', {id: novinka.id}) }}"
                                               class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Přečíst</a>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-md-10 col-xs-12 col-sm-6">
                                    <a href="{{ path('news') }}"
                                       class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Zobrazit všechny</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Kalkulačky</h3>
                                {% for kalkulacka in calculators %}
                                    <div class="col-md-3 col-xs-12 col-sm-6">
                                        <div class="white-box">
                                            <h3 class="m-t-20 m-b-20 nadpisPoradce">{{ kalkulacka.name }}</h3>
                                            <a href="{{ kalkulacka.url }}" target="_blank"
                                               class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Přejít</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <footer class="footer text-center"> 2021 &copy; Webfix</footer>

</body>
</html>
