{% extends 'adviser/index.html.twig' %}

{% block title %}
    Novinky
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">

            <a href="{{ path('news', {category: 0}) }}"
               class="btn btn-dark btn-rounded waves-effect waves-light m-t-20 m-b-40 m-l-15">Vše
            </a>

            <a href="{{ path('news', {category: 1}) }}"
               class="btn btn-warning btn-rounded waves-effect waves-light m-t-20 m-b-40 m-l-15">Školení
            </a>

            <a href="{{ path('news', {category: 2}) }}"
               class="btn btn-warning btn-rounded waves-effect waves-light m-t-20 m-b-40 m-l-15">Soutěže
            </a>

            <a href="{{ path('news', {category: 3}) }}"
               class="btn btn-warning btn-rounded waves-effect waves-light m-t-20 m-b-40 m-l-15">Firemní akce
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% for novinka in news %}
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="white-box">
                        <h3 class="m-t-20 m-b-20 nadpisPoradce">{{ novinka.title }}</h3>
                        <span class="badge badge-info">{{ novinka.category.title }}</span>
                        <p>{{ novinka.text }}</p>
                        {% if novinka.ireadit(user) %}
                            <a href="{{ path('news_detail', {id: novinka.id}) }}"
                               class="btn btn-danger btn-rounded waves-effect waves-light m-t-20">Znovu přečíst</a>
                        {% else %}
                            <a href="{{ path('news_detail', {id: novinka.id}) }}"
                               class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Přečíst</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
