@mixin icon($height, $width) {
  height: $height;
  width: $width;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.fa-lg-icon{
  font-size: 48px;
}
.lg-icon{
  @include icon(64px, 64px);
}
.md-icon{
  @include icon(48px, 48px);
}
.sm-icon{
  @include icon(32px, 32px);
}
.xs-icon{
  @include icon(22px, 22px)
}
