@mixin img($height, $width, $bg-size) {
    height: $height;
    width: $width;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $bg-size;
}

.img-jumbotron{
    @include img(1300px, 100%, cover)
}
.img-partner{
    @include img(50px, 100%, contain)
}

.with-cover {
    &::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(54, 54, 54, 0.3);
        content: "";
        top: 0;
        left: 0;
    }
}
#map{
    height: 450px;
}
.logos-about{
    width: 100px;
    height: 100px;
}
@include media-breakpoint-up(sm){
    .img-jumbotron{
        @include img(950px, 100%, cover)
    }
    .logos-about{
        width: 175px;
        height: 175px;
    }
}
