$menu-desktop-height: 115px;

.with-menu{
    padding-top: $menu-desktop-height;
}
.main-nav .nav-link.active{
    border-bottom: 3px solid lightgray;
}
.navbar-logo{
    width: 319px;
}

@include media-breakpoint-down(xs){
    .navbar-logo{
        width: 200px;
    }
}
.dropdown:hover .dropdown-menu{
    display: block;
}
