.homepage-lead{
  width: 100%;
  font-size: 45px;
}

@include media-breakpoint-up(md){
  .homepage-lead{
    width: 55%;
  }
}

@include media-breakpoint-down(xs){
  .homepage-lead{
    font-size: 32px;
  }
}
