{% extends 'base.html.twig' %} {% block body %}

    <div class="container-fluid img-jumbotron with-cover with-menu position-relative"
         style="background-image: url('/images/thumbnail_crassusart.jpg')">
        <div class="row py-5">
            <div class="col-xl-10">
                <div class="md-ml-5">
                    <div class="d-flex flex-wrap">
                        {% include './components/tile.html.twig' with { 'tile': tileInfo1 , 'order': "order-1"} %}
                        <div class="ml-lg-5 ml-3 homepage-lead order-0 order-md-2 d-flex align-items-center text-uppercase text-white">
                            jsme specialistou finančního poradenství
                        </div>
                        {% include './components/tile.html.twig' with { 'tile': tileInfo2 , 'order': "order-3"} %}
                        {% include './components/tile.html.twig' with { 'tile': tileInfo3 , 'order': "order-4"} %}
                    </div>
                </div>

            </div>
            <div class="d-none d-xl-block col-xl-2">
                <a href="/kontakt" class="anchor my-3">
                    <div class="text-white d-flex justify-content-between border rounded border-white fs-13 p-3">
                        <div class="pr-4">Sjednejte si nezávaznou <span
                                    class="text-uppercase text-danger font-weight-bold">osobní schůzku</span> s poradcem
                        </div>
                        <img class="sm-icon" src="/svg/Homepage/Schuzka.svg" alt="">
                    </div>
                </a>
                <a href="/poradce"
                   class="d-none d-xl-flex btn btn-outline-danger border-white text-uppercase text-white justify-content-between align-items-center my-3">
                    Pro poradce
                    <img class="sm-icon" src="/svg/Homepage/Poradce.svg" alt="">
                </a>
                {% if event is not null %}
                <div class="text-white border rounded border-danger my-3">
                    <div class="bg-danger d-flex justify-content-between align-items-center p-3">
                        <h4 class="text-uppercase font-weight-light m-0">výjimečná událost</h4>
                        <img class="sm-icon" src="/svg/Homepage/Udalost.svg" alt="udalost">
                    </div>
                    <div class="p-3">
                        <div class="fs-15 mb-3 font-weight-bold">{{ event.title|upper }}</div>
                        <div class="font-weight-light fs-13">
                            {{ event.text|raw }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="h4">
            Společnost
            <strong>CrassusArt, s.r.o.</strong> byla založena 15. září 2009. Jsme česká společnost. Pracujeme
            pro fyzické osoby
            a pro malé i střední podnikatele.
        </div>
        <div class="row py-5 d-flex align-items-end justify-content-center">
            <div class="my-3 col-8 col-lg-4">
                <div class="text-danger w-75 h4 font-weight-light">
                    Našich spokojených klientů
                </div>
                <div class="text-danger display-3 font-weight-bold track-year" id="yearNumber"
                     data-count="{{ clientsNumber }}">&nbsp;
                </div>
                <div class="m-0 separator"></div>
            </div>
            <div class="my-3 col-8 col-lg-4">
                <div class="text-danger w-75 h4 font-weight-light">
                     Partneři, se kterými spolupracujeme
                </div>
                <div class="text-danger display-3 font-weight-bold track" id="dealsNumber"
                     data-count="{{ partnersNumber }}">&nbsp;
                </div>
                <div class="m-0 separator"></div>
            </div>
            <div class="my-3 col-8 col-lg-4">
                <div class="text-danger w-75 h4 font-weight-light">
                    Na českém trhu jsme už několik let
                </div>
                <div class="text-danger display-3 font-weight-bold track" id="ballsNumber"
                     data-count="{{ yearsNumber }}">&nbsp;
                </div>
                <div class="m-0 separator"></div>
            </div>
        </div>
    </div>
    {% include './components/map.html.twig' %}
    {% include './components/partners.html.twig' with {'partners' : partners} %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function initMap() {
            var mapLatLng = {
                lat: 50.207917,
                lng: 15.986169
            };
            var pceLatLng = {
                lat: 50.033667,
                lng: 15.773888
            };
            var chrLatLng = {
                lat: 49.9496747,
                lng: 15.7949685
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                center: mapLatLng,
                zoom: 9,
                styles: [
                    {
                        elementType: 'geometry',
                        stylers: [{color: '#f5f5f5'}]
                    },
                    {
                        elementType: 'labels.icon',
                        stylers: [{visibility: 'off'}]
                    },
                    {
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#616161'}]
                    },
                    {
                        elementType: 'labels.text.stroke',
                        stylers: [{color: '#f5f5f5'}]
                    },
                    {
                        featureType: 'administrative.land_parcel',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#bdbdbd'}]
                    },
                    {
                        featureType: 'poi',
                        elementType: 'geometry',
                        stylers: [{color: '#eeeeee'}]
                    },
                    {
                        featureType: 'poi',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#757575'}]
                    },
                    {
                        featureType: 'poi.park',
                        elementType: 'geometry',
                        stylers: [{color: '#e5e5e5'}]
                    },
                    {
                        featureType: 'poi.park',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#9e9e9e'}]
                    },
                    {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#ffffff'}]
                    },
                    {
                        featureType: 'road.arterial',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#757575'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#dadada'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#616161'}]
                    },
                    {
                        featureType: 'road.local',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#9e9e9e'}]
                    },
                    {
                        featureType: 'transit.line',
                        elementType: 'geometry',
                        stylers: [{color: '#e5e5e5'}]
                    },
                    {
                        featureType: 'transit.station',
                        elementType: 'geometry',
                        stylers: [{color: '#eeeeee'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'geometry',
                        stylers: [{color: '#c9c9c9'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#9e9e9e'}]
                    }
                ]
            });
            var pce = new google.maps.Marker({
                position: pceLatLng,
                map: map,
                title: 'Tady nás najdete!'
            });

            var nmnm = new google.maps.Marker({
                position: nmnmLatLng,
                map: map,
                title: 'Tady nás najdete!'
            });
            var chru = new google.maps.Marker({
                position: chrLatLng,
                map: map,
                title: 'Tady nás najdete!'
            });
            var pce2 = new google.maps.Marker({
                position: pce2LatLng,
                map: map,
                title: 'Tady nás najdete!'
            });

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAymDu1wdo2WwOcrXsMOgVyccrzoZIP9QQ&callback=initMap">
    </script>
{% endblock %}
