{% extends 'base.html.twig' %}

{% block body %}
    <div class="container with-menu">
        <p class="w-75 m-auto pt-5 font-weight-normal">CrassusArt, s.r.o. je specialistou v oblasti bezplatného finančního poradenství.

            Klientům zajišťujeme poradenství v oblasti úvěrů, hypotečních úvěrů, pojištění, spoření a investování.</p>

        <p class="w-75 m-auto pt-2 font-weight-normal">Naše společnost poskytuje samozřejmě i bezplatné audity smluv, optimalizaci již stávajících produktů a
            následný pravidelný dlouhodobý servis. Pro poskytování tohoto servisu využívají naši poradci profesionální
            software Glorie.

            Rádi budeme odborným průvodcem na cestě Vašich rodinných financí či financí Vašeho podnikání.

        </p>
        <div class="row py-5 d-flex justify-content-center">
            {% for tile in insuranceSections %}
                {% include './components/tileNoText.html.twig' with { 'tile': tile } %}
            {% endfor %}
            <div class="col-sm-6 col-lg-3 my-3">
                <a href="#likvidace" class="anchor scroll-a">
                    <div class="tile-height bg-danger px-4 pt-4 card-height" style="">
                        <div class="mb-4 md-icon contain"
                             style="background-image: url('/svg/TileIcons/Likvidace.svg');"></div>
                        <h3 class="font-weight-light text-uppercase text-white fs-23">likvidace pojistných událostí</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% include './components/appointment.html.twig' %}
    {% for section in insuranceSections %}
        {% include './components/section.html.twig' with { 'section': section } %}
    {% endfor %}
    <div class="container pt-5" id="likvidace">
        <div class="d-flex">
            <div class="mb-4 mr-3 lg-icon"
                 style="background-image: url('/svg/TileIcons/Likvidace-vyber.svg');"></div>
            <div>
                <h3 class="text-danger font-weight-normal text-uppercase">likvidace pojistných událostí</h3>
                <h4 class="text-muted font-weight-light">ASISTENCE VOLEJTE 1224 (pro všechny pojišťovny)</h4>
            </div>
        </div>
    </div>
    <div class="separator mb-4"></div>
    <div class="container pb-5">
        <div class="row ml-5">
            {% for item in assistance %}
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <a target="_blank" href="{{ item.link }}"><img style="height: 100px" src="/svg/Likvidace/{{ item.img }}"
                                                           alt="{{ item.name }}"></a>
                        </div>
                        <div class="col-12 col-sm-6 d-flex align-items-center">
                            <div class="flex-column">
                                {% for number in item.numbers %}
                                    <div>{{ number }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="py-5">
            <h5>Kdy také musíte volat policii ČR?</h5>
            <ul>
                <li class="text-danger">
                    <div class="text-dark">Požkození vozidla neznámou osobou(vandalismus)</div>
                </li>
                <li class="text-danger">
                    <div class="text-dark">Vznik újmy na zdraví</div>
                </li>
                <li class="text-danger">
                    <div class="text-dark">Škoda na některém z vozidel přesáhne 100 000 Kč</div>
                </li>
                <li class="text-danger">
                    <div class="text-dark">Pokud došlo k poškození pozemní komunikace, obecně prospěšného zařízení,
                        majetku třetí osoby nebo ke škodě na životním prostředí
                    </div>
                </li>
                <li class="text-danger">
                    <div class="text-dark">Pokud bez nepřiměřeného úsilí nedokážete sami obnovit plynulost provozu</div>
                </li>
                <li class="text-danger">
                    <div class="text-dark">V případě odcizení vozidla nebo jeho část</div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
