<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}CrassusArt{% endblock %}</title>
        <link rel="stylesheet" href="/dist/index.css?v=3">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'menu.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'footer.html.twig' %}
        {% include 'webfix_footer.html.twig' %}
        {% block javascripts %}
            <script src="/dist/index.js?v=4"></script>
        {% endblock %}
    </body>
</html>
