{% set route = app.request.get('_route') %}
<div class="fixed-top main-nav bg-light-1" id="main-nav">
    <nav class="navbar navbar-expand-xl navbar-light pb-0">
        <a href="/" class=" navbar-brand py-4">
            <img class="navbar-logo" src="/svg/Menu/Logo.svg" alt="Logo-color">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-xl-flex align-self-stretch" id="navbar">
            <ul class="navbar nav ml-auto d-flex flex-column flex-xl-row p-xl-0 align-self-stretch align-items-xl-stretch">
                <li class="nav-item d-xl-flex">
                    <a href="/o-nas"
                       class="nav-link text-dark mx-1 d-xl-flex align-items-center {{ 'about' in route ? 'active' }}">O
                        nás</a>
                </li>
                <li class="nav-item d-xl-flex">
                    <a href="/investice"
                       class="nav-link text-dark mx-1 d-xl-flex align-items-center {{ 'investment' in route ? 'active' }}">Investice</a>
                </li>
                <li class="nav-item d-xl-flex">
                    <a href="/uvery"
                       class="nav-link text-dark mx-1 d-xl-flex align-items-center {{ 'loans' in route ? 'active' }}">Úvěry</a>
                </li>
                <li class="nav-item d-xl-flex">
                    <a href="/pojisteni"
                       class="nav-link text-dark mx-1 d-xl-flex align-items-center {{ 'insurance' in route ? 'active' }}">Pojištění</a>
                </li>
                <li class="nav-item d-xl-flex">
                    <a href="/kariera"
                       class="nav-link text-dark mx-1 d-xl-flex align-items-center {{ 'kariera' in route ? 'active' }}">Kariéra</a>
                </li>
                <li class="nav-item d-xl-flex">
                    <a href="/kontakt"
                       class="nav-link text-dark mx-1 d-xl-flex align-items-center {{ 'kontakt' in route ? 'active' }}">Kontakt</a>
                </li>
                <div class="d-flex my-1">
                    <li class="nav-item align-items-center d-xl-flex">
                        <a target="_blank" href="https://www.facebook.com/CrassusArt-sro-366422036902410/" class="nav-link px-1"><img
                                    class="xs-icon" src="/svg/Menu/Facebook.svg" alt="fb"></a>
                    </li>
                    <li class="nav-item align-items-center d-xl-flex">
                        <a target="_blank" href="https://www.linkedin.com/company/crassusarts.r.o./" class="nav-link px-1"><img
                                    class="xs-icon" src="/svg/Menu/Linkedin.svg" alt="linkedin"></a>
                    </li>
                </div>
                <li class="nav-item mt-2 ml-0 mt-xl-0 ml-xl-3 d-xl-none">
                    <a href="/poradce"
                       class="btn btn-danger menu-btn text-uppercase text-white d-flex justify-content-between align-items-center">
                        Pro poradce
                        <img class="pl-2 sm-icon" src="/svg/Homepage/Poradce.svg" alt="poradce">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
