<div class="my-5">
    <div class="bg-danger py-3 container-fluid">
        <div class="row align-self-center text-white">
            <div class="col-xl-3 d-flex align-items-center justify-content-center">
                <h2 class="d-inline-block pb-3">Navštivte nás v jedné z našich poboček</h2>
            </div>
            <div class="col-xl-9">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center my-2 w-100">
                        <a href="/kontakt"><div style="background-image: url('/images/Crassusart_pardubice.jpg'); background-position: center center; background-size: cover; width: 200px; height: 200px"></div></a>
                        <div class="ml-3" style="width: 200px">
                            <a class="text-white" href="/kontakt"><h4 class="text-uppercase">pardubice</h4></a>
                            <div class="mb-3">
                                <div>Hronovická 522</div>
                                <div>Pardubice</div>
                                <div>530 02</div>
                            </div>
                            <div class="mb-3">
                                <div>info@crassusart.cz</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
</div>
