<div class="col-sm-6 col-xl-3 my-3">
    <a href="#{{ tile.id }}" class="anchor scroll-a">
        <div class="card bg-danger px-4 pt-4 tile-height" style="">
            <div class="mb-4 md-icon contain" style="background-image: url('/svg/TileIcons/{{ tile.iconTile }}');"></div>
            <h3 class="fs-23 font-weight-light text-uppercase text-white">{{ tile.title|raw }}</h3>
        </div>
    </a>
</div>
